automation/access-approval.logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "World Cup Top Scorer - self-service access request with approval. HTTP-triggered Logic App: approval email to Marc, then (on Approve) invite the guest via Microsoft Graph and grant a Fabric workspace role. Graph and Fabric calls use the Logic App's system-assigned managed identity (no secret)."
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "la-wc-access-approval"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "approverEmail": {
      "type": "string",
      "defaultValue": "marc.hadjeje@microsoft.com"
    },
    "appUrl": {
      "type": "string",
      "defaultValue": "https://hasty-tarn-a20bfa49da-swedencentral.webapp.fabricapps.net"
    },
    "workspaceId": {
      "type": "string",
      "defaultValue": "8af45ba5-7342-4a36-a332-91120bf9fa9c"
    },
    "fabricRole": {
      "type": "string",
      "defaultValue": "Viewer",
      "allowedValues": [ "Viewer", "Contributor", "Member", "Admin" ]
    }
  },
  "variables": {
    "office365ConnectionName": "office365-wc-approval",
    "office365ApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "office365-wc-approval",
        "api": { "id": "[variables('office365ApiId')]" }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": { "type": "SystemAssigned" },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "type": "Object", "defaultValue": {} }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": { "type": "string" },
                    "message": { "type": "string" },
                    "app": { "type": "string" }
                  },
                  "required": [ "email" ]
                }
              }
            }
          },
          "actions": {
            "Send_approval_email": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                },
                "body": {
                  "NotificationUrl": "@{listCallbackUrl()}",
                  "Message": {
                    "To": "[parameters('approverEmail')]",
                    "Subject": "Access request - World Cup Top Scorer",
                    "Options": "Approve, Reject",
                    "Importance": "Normal",
                    "Body": "A user requested access to the World Cup Top Scorer app.<br><br><b>Email:</b> @{triggerBody()?['email']}<br><b>Message:</b> @{triggerBody()?['message']}<br><br>Approve to invite them and grant access to the Fabric workspace."
                  }
                },
                "path": "/approvalmail/$subscriptions"
              },
              "runAfter": {}
            },
            "Check_approval": {
              "type": "If",
              "expression": {
                "equals": [ "@body('Send_approval_email')?['SelectedOption']", "Approve" ]
              },
              "runAfter": { "Send_approval_email": [ "Succeeded" ] },
              "actions": {
                "Invite_guest": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/invitations",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                      "invitedUserEmailAddress": "@{triggerBody()?['email']}",
                      "inviteRedirectUrl": "[parameters('appUrl')]",
                      "sendInvitationMessage": true
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  },
                  "runAfter": {}
                },
                "Assign_workspace_role": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[concat('https://api.fabric.microsoft.com/v1/workspaces/', parameters('workspaceId'), '/roleAssignments')]",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                      "principal": {
                        "id": "@{body('Invite_guest')?['invitedUser']?['id']}",
                        "type": "User"
                      },
                      "role": "[parameters('fabricRole')]"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://api.fabric.microsoft.com"
                    }
                  },
                  "runAfter": { "Invite_guest": [ "Succeeded" ] }
                }
              },
              "else": { "actions": {} }
            },
            "Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "Access request processed."
              },
              "runAfter": { "Check_approval": [ "Succeeded", "Failed", "Skipped" ] }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[variables('office365ApiId')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
